<ion-tabs>
  <!-- Tab de inicio -->
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <!-- Tab de la wallet -->
    <ion-tab-button tab="tab2">
      <ion-icon name="wallet-outline"></ion-icon>
      <ion-label>Wallet</ion-label>
    </ion-tab-button>

    <!-- Tab de notificaciones -->
    <ion-tab-button tab="tab3">
      <ion-icon name="notifications-outline"></ion-icon>
      <ion-label>Notifications</ion-label>
    </ion-tab-button>

    <!-- Tab de configuración -->
    <ion-tab-button tab="tab3">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
