<ion-header [translucent]="true"  mode='ios'>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <swiper-container [modules]="slideOpts" >
    <swiper-slide *ngFor="let slide of slides">
      <img class="ion-activatable ion-focusable hydrated" src="{{slide.image}}" alt="{{slide.alt}}" (click)="onLinkClick(slide.url)"> 
    </swiper-slide> 
  </swiper-container>
 

  <!-- Mostrar las entradas del blog en tarjetas -->
  <ion-card *ngFor="let post of posts" [routerLink]="['/post/', post.id]">
    <ion-card-header>
      <ion-card-title>{{ post.title.rendered }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div [innerHTML]="post.excerpt.rendered"></div>
    </ion-card-content>
  </ion-card>
  
</ion-content>
